// global govuk vars
// $govuk-show-breakpoints: true;
$govuk-include-default-font-face: false;
$govuk-font-family: Arial, Helvetica, sans-serif;
$govuk-page-width: 1020px;
$govuk-assets-path: '/govuk/assets/';
