services:
  server-api:
    # command: ["tail", "-f", "/dev/null"]
    build:
      context: .
      dockerfile: apps/server-api/Dockerfile
      tags:
        - dpr-backend:server-api
    image: dpr-backend:server-api
    ports:
      - "4000:3000"
    environment:
      - PORT=3000
    restart: unless-stopped
    networks:
      - dpr-backend

  react-app:
    # command: ["tail", "-f", "/dev/null"]
    build:
      context: .
      dockerfile: apps/react-app/Dockerfile
      tags:
        - dpr-backend:react-app
    image: dpr-backend:react-app
    ports:
      - "3001:3000"
    environment:
      - PORT=3000
    restart: unless-stopped
    networks:
      - dpr-backend

  next-example:
    # command: ["tail", "-f", "/dev/null"]
    build:
      context: .
      dockerfile: apps/next-example/Dockerfile
      tags:
        - dpr-backend:next-example
    image: dpr-backend:next-example
    ports:
      - "3002:3000"
    environment:
      - PORT=3000
    restart: unless-stopped
    networks:
      - dpr-backend

  mock-bucket:
    image: mcr.microsoft.com/azure-storage/azurite
    hostname: azurite
    restart: always
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - azurite-data:/data
    networks:
      - dpr-backend

volumes:
  azurite-data:

networks:
  dpr-backend:
